<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách các đơn đặt</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách đơn đặt</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <label>Quản lí đơn đặt theo từng nhà : </label>
      <select (change)="changeHouse($event.target.value)" class="custom-select"
              style="margin-right: 10px; width: 200px">
        <option [selected]="isSelected" disabled>--- Chọn HomeStay ---</option>
        <option *ngFor="let house of listHouseOfHost" [value]="house.id">{{house.name}}</option>
      </select>
      <button [hidden]="isDelete" *ngIf="hasRoleUser"
              class="btn btn-danger" style="margin-left: 15px; width: 100px" data-toggle="modal"
              data-target="#modal-delete-list">
        Xóa
      </button>
      <mat-form-field appearance="fill" style="width: 30%; float: right">
        <mat-label>Lịch đặt thuê của HomeStay {{currentHouse ? currentHouse.name : ''}}</mat-label>
        <input matInput [matDatepicker]="endDate" [min]="minDate" [matDatepickerFilter]="myDateFilter">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="card-body" *ngIf="listBill != null">
      <table class="table table-bordered" id="table-category">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th style="text-align: center">Họ và tên</th>
          <th style="text-align: center">Số điện thoại</th>
          <th style="text-align: center">Ngày đặt</th>
          <th style="text-align: center">Ngày bắt đầu thuê</th>
          <th style="text-align: center">Ngày trả</th>
          <th style="text-align: center">Tổng tiền thanh toán</th>
          <th style="text-align: center; width: 250px">Trạng thái</th>
          <th style="width: 200px; text-align: center" *ngIf="hasRoleUser">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bill of listBill; index as i">
          <td style="text-align: center">{{i + 1}}</td>
          <td style="text-align: center">
            <p>{{bill.nameUser}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bill.telephoneNumber}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bill.bookingDate | date:'dd/MM/yyyy'}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bill.startDate | date:'dd/MM/yyyy'}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bill.endDate | date:'dd/MM/yyyy'}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bill.totalPrice | currency:'VND'}} <br> Đã thanh toán {{bill.totalPrice / 2 | currency:'VND'}}</p>
          </td>
          <td style="text-align: center">
            <label class="status"
                   style="background-color: green; color: #fff;text-align: center; padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;vertical-align: middle;" *ngIf="bill.status != 'Đơn đặt đã bị hủy'">{{bill.status}}</label>
            <label class="status"
                   style="background-color: red; color: #fff;text-align: center; padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;vertical-align: middle;" *ngIf="bill.status == 'Đơn đặt đã bị hủy'">{{bill.status}}</label>
          </td>
          <td>
            <div class="row">
              <div class="col-4" *ngIf="hasRoleUser" style="margin-left: auto; margin-right: auto">
                <button mat-raised-button (click)="openDialog(bill)" class="btn btn-block btn-warning"
                        style="color: white">
                  <i class="fas fa-check"></i>
                </button>
              </div>
              <div class="col-4" *ngIf="hasRoleUser" style="margin-left: auto; margin-right: auto">
                <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                        data-target="#modal-delete" (click)="getBill(bill)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Hủy đơn đặt</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn hủy đơn đặt này ?</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteBill()">Xóa</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-delete-list">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa danh sách đơn đặt</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa danh sách đơn đặt này ?</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteListBill()">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</section>
