<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!isAdd">{{ title }}</h4>
    <h4 class="modal-title" id="modal-basic-title1" *ngIf="isAdd">Thay đổi mật khẩu</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img *ngIf="!isAdd" [src]="user.avt" alt=""
         style="width: 250px; height: 250px; margin-left: 113px; margin-bottom: 40px; border-radius: 50%">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group" *ngIf="!isAdd">
        <label>Họ và tên chủ tài khoản</label>
        <input
          type="text"
          name=""
          class="form-control"
          formControlName="fullName"
          id="fullName"
        />
        <div *ngIf="submitted && form.controls['fullName'].errors?.required">
          <div
            *ngIf="form.controls['fullName'].errors?.required"
            style="color: red"
          >
            * Họ và tên không được để trống
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="!isAdd">
        <label>Email</label>
        <input
          type="text"
          name=""
          class="form-control"
          formControlName="email"
          id="email"
        />
        <div *ngIf="submitted && form.controls['email'].errors?.required">
          <div
            *ngIf="form.controls['email'].errors?.required"
            style="color: red"
          >
            * Email không được để trống
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="!isAdd">
        <label>Số điện thoại</label>
        <input
          type="text"
          name=""
          class="form-control"
          formControlName="telephoneNumber"
          id="telephoneNumber"
        />
        <div *ngIf="submitted && form.controls['telephoneNumber'].errors?.required">
          <div
            *ngIf="form.controls['telephoneNumber'].errors?.required"
            style="color: red"
          >
            * Số điện thoại
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="!isInfo">
        <div class="form-group">
          <label for="image">Chọn ảnh HomeStay</label>
          <div class="input-group">
            <div class="custom-file">
              <input [disabled]="isInfo" type="file" class="custom-file-input" (change)="uploadFile($event)"
                     multiple="multiple" id="image" name="image">
              <label class="custom-file-label">Choose file</label>
            </div>
            <div *ngIf="isLoading" class=" spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" align="center">
        <button
          [hidden]="checkButton"
          type="submit"
          class="btn btn-success"
          style="width: 100px"
          *ngIf="isEdit || isAdd"
        >
          Lưu
        </button>
        <button
          class="btn btn-danger"
          style="width: 100px; margin-left: 20px"
          (click)="modal.dismiss('Cross click')"
        >
          Thoát
        </button>
      </div>
    </form>
  </div>
</ng-template>
