<div class="hailit2">
  <div class="container">
    <a href="#" class="social-auth-links text-center" style="margin-left: auto; margin-right: auto; display: block"><img
      src="assets/static/img/logo.png" alt=""></a>
    <div class="title">Đăng kí tài khoản</div>
    <div class="content">
      <form role="form" [formGroup]="registerForm" (ngSubmit)="register()" id="register">
        <div class="user-details">
          <div class="input-box" style="width: 70%; margin-left: auto; margin-right: auto">
            <span class="details">Họ và tên</span>
            <input type="text" name="email" class="form-control" formControlName="fullName" placeholder="Họ và tên">
          </div>
          <div class="input-box" style="width: 70%; margin-left: auto; margin-right: auto">
            <span class="details">Số điện thoại</span>
            <input type="text" name="telephoneNumber" class="form-control" formControlName="telephoneNumber"
                   placeholder="Số điện thoại">
          </div>
          <div class="input-box" style="width: 70%; margin-left: auto; margin-right: auto">
            <span class="details">Email</span>
            <input type="text" name="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <div class="input-box" style="width: 70%; margin-left: auto; margin-right: auto">
            <span class="details">Mật khẩu</span>
            <input type="password" name="password" class="form-control" formControlName="password"
                   placeholder="Password">
          </div>
        </div>
        <div class="button" style="width: 70%; margin-left: auto; margin-right: auto">
          <input type="submit" value="Đăng kí">
        </div>
      </form>
      <div class="facebook" style="width: 70%; margin-left: auto; margin-right: auto">
        <a [routerLink]="['/login']" class="fab" style="text-align: center">
          <label style="text-align: center">Tôi đã có tài khoản</label></a>
      </div>
    </div>
  </div>
</div>
