<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục sản phẩm</span>
          </div>
          <ul>
            <li *ngFor="let category of listCategory"><a
              [routerLink]="['../category',category.id]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn muốn thuê HomeStay ở đâu?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Voucher</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>Voucher</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h1 style="margin-top: 30px">Danh sách Voucher</h1>
  <div class="row" style="margin-bottom: 30px">
    <div class="col-md-6"
         *ngFor="let voucher of listVoucher | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;">
      <article class="card fl-left" style="background-color: lemonchiffon">
        <section class="date">
          <time datetime="23th feb">
            <span>{{voucher.discount}}</span>
            <span *ngIf="voucher.typeVoucher == 0"> VND</span><span
            *ngIf="voucher.typeVoucher == 1"> %</span>
          </time>
        </section>
        <section class="card-cont">
          <h3 style="text-align: center">{{voucher.title}}</h3>
          <div class="even-date">
            <i class="fa fa-calendar"> </i>
            <time>
              <span> Từ {{voucher.startDate | date: 'dd/MM/yyyy'}}
                Đến {{voucher.expiredDate | date: 'dd/MM/yyyy'}}</span>
            </time>
          </div>
          <div class="even-info">
            <i class="fa fa-map-marker"> </i>
            <p style="color: red; font-weight: bold"> Mã voucher: {{voucher.voucher_code}}
            </p>
          </div>
          <a [routerLink]="['/houses']" *ngIf="currentUser">Sử dụng</a>
        </section>
      </article>
    </div>
  </div>
  <div class="col-12" style="display: flex; justify-content: center;align-items: center; margin-bottom: 30px">
    <ngb-pagination *ngIf="listVoucher.length"
                    [ellipses]="true" [rotate]="true"
                    [boundaryLinks]="true" [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="this.listVoucher.length"></ngb-pagination>
  </div>
</section>
<app-footer></app-footer>
