<div class="hailit">
  <div class="container"><a href="#" style="margin-left: auto; margin-right: auto; display: block"
                            class="social-auth-links text-center"><img
    src="assets/static/img/logo.png" alt=""></a>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="title">Đăng nhập</div>
      <div class="input-box underline" style="width: 70%; margin-left: auto; margin-right: auto">
        <input style="padding-left: 15px; border-radius: 5px; height: 45px; border-bottom-width: 2px" type="text"
               placeholder="Email"
               formControlName="email" required>
        <div class="underline"></div>
      </div>
      <div class="input-box" style="width: 70%; margin-left: auto; margin-right: auto">
        <input style="padding-left: 15px; border-radius: 5px" type="password" placeholder="Mật khẩu"
               formControlName="password"
               required>
        <div class="underline"></div>
      </div>
      <div class="input-box button" style="width: 70%; margin-left: auto; margin-right: auto">
        <input type="submit" name="" value="Đăng nhập">
      </div>
    </form>
    <div class="option">Hoặc</div>
    <div class="twitter" style="width: 70%; margin-left: auto; margin-right: auto">
      <a (click)="signInWithGoogle()" style="text-align: center"><i class="fab fa-google"></i>Đăng nhập bằng Google</a>
    </div>
    <div class="facebook" style="width: 70%; margin-left: auto; margin-right: auto">
      <a (click)="signInWithFB()" style="text-align: center"><i class="fab fa-facebook-f"></i>Đăng nhập bằng
        Facebook</a>
    </div>
    <div class="row">
      <div class="col-4" style="margin-left: 80px">
        <a [routerLink]="['/resetpassword']" style="text-align: center;
            text-decoration: none;color: #476bb8 ;">
          <b style="text-align: center">Quên mật khẩu</b></a>
      </div>
      <div class="col-4" style="margin-left: 65px">
        <a [routerLink]="['/register']" style="text-align: center;
            text-decoration: none;color: #476bb8 ;">
          <b style="text-align: center">Đăng kí tài khoản</b></a>
      </div>
    </div>
  </div>
</div>
