
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$market-frontend-primary: mat-palette($mat-indigo);
$market-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$market-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$market-frontend-theme: mat-light-theme($market-frontend-primary, $market-frontend-accent, $market-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($market-frontend-theme);

@import "variable";
@import "mixins";

@import "base";
@import "header";
@import "hero";
@import "home-page";
@import "breadcrumb";
@import "sidebar";
@import "shop-grid";
@import "shop-details";
@import "shoping-cart";
@import "checkout";
@import "blog";
@import "blog-sidebar";
@import "blog-details";
@import "footer";
@import "contact";
@import "responsive";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
select {
  height: 30px;
  width: 84px;
  margin-left: 20px;
}

.user-box input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  background: 0 0;
}

.user-box {
  margin-top:10px
}

