<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div routerLink="/" class="brand-link text center">
    <a href="#" class="social-auth-links text-center"><img
      src="assets/static/img/logo.png" alt=""></a>
  </div>

  <!--   Sidebar-->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <i class="fa fa-user fa-2x" style="color: white"></i>
      </div>
      <div class="info">
        <a [routerLink]="'/admin'" class="d-block">{{currentUser.email}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item" *ngIf="hasRoleAdmin">
          <a routerLink="/admin/house" class="nav-link">
            <i class="nav-icon fas fa-house-user"></i>
            <p>
              HomeStay
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="hasRoleAdmin">
          <a routerLink="/admin/category" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Thể loại
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="hasRoleAdmin">
          <a routerLink="/admin/utilities" class="nav-link">
            <i class="nav-icon far fa-handshake"></i>
            <p>
              Tiện ích
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="hasRoleAdmin">
          <a routerLink="/admin/voucher" class="nav-link">
            <i class="nav-icon fas fa-comment-dollar"></i>
            <p>
              Voucher
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="hasRoleAdmin">
          <a routerLink="/admin/user" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Tài khoản
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!--   /.sidebar-->
</aside>
