<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Tên nhà</label>
            <input
              type="text"
              name=""
              class="form-control"
              formControlName="name"
              id="name"
            />
            <div *ngIf="submitted && formGroup.controls['name'].errors?.required">
              <div
                *ngIf="formGroup.controls['name'].errors?.required"
                style="color: red"
              >
                * Không để trống
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Địa chỉ</label>
            <input
              type="text"
              name=""
              class="form-control"
              formControlName="address"
              id="address"
            />
            <div *ngIf="submitted && formGroup.controls['address'].errors?.required">
              <div
                *ngIf="formGroup.controls['address'].errors?.required"
                style="color: red"
              >
                * Không để trống
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-9">
              <label for="category">Thêm tiện ích cho HomeStay</label>
              <select class="form-control select2 select2-primary" id="utilitie" name="utilitie"
                      formControlName="utilitie" data-dropdown-css-class="select2-primary"
                      style="width: 100%; margin-left: 0px" (ngModelChange)="addUtilitieToHouse($event)">
                <option *ngFor="let utilitie of listUtilitie"
                        [value]="utilitie.id">{{utilitie.name}}</option>
              </select>

              <table style="width: 100%; margin-top: 15px" id="list-Utilitie">
                <tr *ngIf="listUtilitieAddToHouse.length !== 0">
                  <td><label>Danh sách tiện ích</label></td>
                </tr>
                <tr
                  *ngFor="
                      let utilitieAddToHouse of listUtilitieAddToHouse  | slice: (pageUtilitie-1) * pageSizeUtilitie : (pageUtilitie-1) * pageSizeUtilitie + pageSizeUtilitie;
                      let i = index
                    ">
                  <td><label>- {{utilitieAddToHouse.name}}</label></td>
                  <td style="width: 30px">
                    <button [hidden]="isInfo" type="button" class="btn btn-block btn-danger" style="color: white"
                            (click)="delete(utilitieAddToHouse)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </table>
              <div class="col-12" style="display: flex; justify-content: center;align-items: center; margin-top: 15px">
                <ngb-pagination *ngIf="listUtilitieAddToHouse.length"
                                [ellipses]="true" [rotate]="true"
                                [boundaryLinks]="true" [(page)]="pageUtilitie"
                                [pageSize]="pageSizeUtilitie"
                                [collectionSize]="this.listUtilitieAddToHouse.length"></ngb-pagination>
              </div>
              <div *ngIf="submitted && formGroup.controls['utilitie'].errors?.required">
                <div
                  *ngIf="formGroup.controls['utilitie'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
            <div class="form-group col-3">
              <label for="discount">Giảm giá (%)</label>
              <select class="form-control select2 select2-primary" id="discount" name="discount"
                      formControlName="discount" data-dropdown-css-class="select2-primary"
                      style="width: 100%; margin-left: 0px">
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
              </select>
              <div *ngIf="submitted && formGroup.controls['discount'].errors?.required">
                <div
                  *ngIf="formGroup.controls['discount'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="form-group col-6">
              <label>Giá thuê (VND / đêm)</label>
              <input
                type="number"
                name=""
                class="form-control"
                formControlName="price"
                id="price"
              />
              <div *ngIf="submitted && formGroup.controls['price'].errors?.required">
                <div
                  *ngIf="formGroup.controls['price'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label>Số lượng phòng</label>
              <input
                type="number"
                name=""
                class="form-control"
                formControlName="numberRoom"
                id="numberRoom"
              />
              <div *ngIf="submitted && formGroup.controls['numberRoom'].errors?.required">
                <div
                  *ngIf="formGroup.controls['numberRoom'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label>Diện tích (m²)</label>
              <input
                type="number"
                name=""
                class="form-control"
                formControlName="acreage"
                id="acreage"
              />
              <div *ngIf="submitted && formGroup.controls['acreage'].errors?.required">
                <div
                  *ngIf="formGroup.controls['acreage'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="category">Thể loại</label>
              <select class="form-control select2 select2-primary" id="category" name="category"
                      formControlName="category" data-dropdown-css-class="select2-primary"
                      style="width: 100%; margin-left: 0px">
                <option *ngFor="let category of listCategory" [value]="category.id">{{category.name}}</option>
              </select>
              <div *ngIf="submitted && formGroup.controls['category'].errors?.required">
                <div
                  *ngIf="formGroup.controls['category'].errors?.required"
                  style="color: red"
                >
                  * Không để trống
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Thêm dịch vụ cho HomeStay</label>
            <button
              type="button"
              (click)="addMeta($event)"
              style="float: right; margin-bottom: 10px; border-radius: 5px"
              class="btn-success"
              [hidden]="isInfo"
            >
              <i class="fas fa-plus"></i>
            </button>
            <table id="basicTable">
              <tbody>
              <tr
                *ngFor="let data of grid.rowData | slice: (pageService - 1) * pageSizeService:(pageService - 1) * pageSizeService + pageSizeService; let i = index">
                <td><input
                  [disabled]="isInfo"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  [(ngModel)]="data.name"
                  placeholder="Tên dịch vụ"
                />
                  <div *ngIf="submitted">
                    <div
                      *ngIf="data.validName"
                      style="color: red"
                    >
                      * Không để trống
                    </div>
                  </div>
                </td>
                <td><input
                  [disabled]="isInfo"
                  [ngModelOptions]="{ standalone: true }"
                  type="number"
                  [(ngModel)]="data.price"
                  placeholder="Giá dịch vụ"
                />
                  <div *ngIf="submitted">
                    <div
                      *ngIf="data.validPrice"
                      style="color: red"
                    >
                      * Không để trống
                    </div>
                  </div>
                </td>
                <td>
                  <button
                    [disabled]="isInfo"
                    type="button"
                    class="btn btn-danger"
                    (click)="btnDeleteClickedHandler(data)"
                    title="Xóa"
                    [hidden]="isInfo"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="col-12" style="display: flex; justify-content: center;align-items: center; margin-top: 15px">
              <ngb-pagination *ngIf="grid.rowData.length "
                              [ellipses]="true" [rotate]="true"
                              [boundaryLinks]="true" [(page)]="pageService"
                              [pageSize]="pageSizeImage"
                              [collectionSize]="grid.rowData.length"></ngb-pagination>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group pad">
            <label for="description">Mô tả chi tiết</label>
            <ckeditor [editor]="Editor" formControlName="description"
                      id="description">>
            </ckeditor>
          </div>
          <div *ngIf="submitted && formGroup.controls['description'].errors?.required">
            <div
              *ngIf="formGroup.controls['description'].errors?.required"
              style="color: red"
            >
              * Không để trống
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="image">Chọn ảnh HomeStay</label>
            <div class="input-group">
              <div class="custom-file">
                <input [disabled]="isInfo" type="file" class="custom-file-input" (change)="uploadFile($event)"
                       multiple="multiple" id="image" name="image">
                <label class="custom-file-label">Choose file</label>
              </div>
              <div *ngIf="isLoading" class=" spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" [hidden]="isInfo">
          <div class=" clearfix col-lg-3 col-md-4 col-6 float-left"
               *ngFor="let image of urlPicture | slice: (pageImage-1) * pageSizeImage : (pageImage-1) * pageSizeImage + pageSizeImage index as i ">
            <div class="img-galary">
              <p class="d-block mb-4 h-100">
                <span (click)="pushDeleteImage(image)" class="close">×</span>
                <img class="img-fluid img-thumbnail" [src]="image.link" alt="" style="width: 200px; height: 200px">
              </p>
            </div>
          </div>
        </div>
        <div class="col-12" style="display: flex; justify-content: center;align-items: center; margin-bottom: 30px"
             *ngIf="!isInfo">
          <ngb-pagination *ngIf="urlPicture.length"
                          [ellipses]="true" [rotate]="true"
                          [boundaryLinks]="true" [(page)]="pageImage"
                          [pageSize]="pageSizeImage"
                          [collectionSize]="this.urlPicture.length"></ngb-pagination>
        </div>
        <div class="col-12" [hidden]="!isInfo">
          <div
            style="width: 1100px; text-align:center;margin:0; padding:0;">
            <ng-image-slider #nav
                             [images]="imageObject"
                             [infinite]="false"
                             [autoSlide]="1"
                             [imageSize]="{width: '25%', height: 200}"
                             slideImage="1"></ng-image-slider>
          </div>
        </div>
        <div class="col-12" *ngIf="hasRoleAdmin">
          <div class="form-group" style="display:inline">
            <label for="status">Trạng thái: </label>
            <input type="checkbox" name="status" formControlName="status" id="status"/>
            <label class="status"
                   style="background-color: green; color: #fff;text-align: center; border-radius: 2px;vertical-align: middle;"
                   for="status" *ngIf="formGroup.controls.status.value">Hoạt động</label>
            <label class="status"
                   style="background-color: red;color:#fff; ;text-align: center; border-radius: 2px;vertical-align: middle;"
                   for="status" *ngIf="!formGroup.controls.status.value">Chờ xác nhận</label>
          </div>
        </div>
      </div>
      <div class="form-group" align="center">
        <button
          [hidden]="checkButton"
          type="submit"
          class="btn btn-success"
          style="width: 100px"
          *ngIf="isEdit || isAdd"
        >
          Lưu
        </button>
        <button
          class="btn btn-danger"
          style="width: 100px; margin-left: 20px"
          (click)="modal.dismiss('Cross click')"
        >
          Thoát
        </button>
      </div>
    </form>
  </div>
</ng-template>
